<!--
  Generated template for the DevicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Device</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor = "let num of numberList">
    <button ion-button icon-start clear small (click)="addFavourite($event, num)" >
      <ion-icon name="star-outline" *ngIf="!favourite[num]"></ion-icon>
      <ion-icon name="star" *ngIf="favourite[num]"></ion-icon>
    </button>
    <ion-card-header>{{titles[num]}}</ion-card-header>
    <ion-card-content>{{contents[num]}}</ion-card-content>
  </ion-card>
</ion-content>
